html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 7rem;
}

.bg-islamic {
  background-color: #00602e !important;
}

.text-islamic {
  color: #00602e !important;
}

.btn-islamic {
  background-color: #00602e !important;
  border-color: #00602e !important;
}

.footer-border-secondary {
  border-top: 1px solid #dddcdc !important;
}

.sosmed-icons {
  width: 2rem; /* Adjust as needed */
  height: 2rem; /* Adjust as needed */
  font-size: 1rem;
  background-color: #00602e;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-border {
  width: 38px; /* adjust the width and height as needed */
  height: 38px;
  border-radius: 50%; /* this creates the circular shape */
  border: 2px solid black; /* adjust the border thickness and color as needed */
  /* center vertical horizontal text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-navbar {
  color: #00602e !important;
  font-weight: 600 !important;
}

.hover-nav:hover {
  color: #00602e !important;
  font-weight: 600 !important;
}

.footer-link li a:hover {
  color: #00602e !important;
  font-weight: 400 !important;
}

.card-surah:hover {
  background-color: #00602e; /* Background color on hover */
}

.card-surah:hover .card-title,
.card-surah:hover .text-dark {
  color: #fff !important; /* Text color on hover */
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.heading-text{
  font-size: 3rem;
  line-height: 1;
}

.heading-showcase{
  font-size: 2.5rem;
  line-height: 1;
}

.wrapper {
  max-width: 680px;
  margin: 60px auto;
  padding: 0 20px;
}

.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.5;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0, 0, 0, 0.6 );
  z-index: 1;
  opacity: 1;
  border-radius: 1rem;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.swiper-pagination-bullet-active {
  background-color: #00602e !important;
}

.cursor-pointer {
  cursor: pointer;
}

.section-content {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
